.details_main{
	width:100%;
	height:auto;
	background: #fff;
}

.swiper-container{
	width: 100%;
}
.swiper-container img{
	width: 100%;
}

.details_info{
	width: 94%;
	margin-left: 3%;
	border-bottom: 1px solid #ccc;
}
.details_info h3{
	font-size: 16px;
	padding: 1% 0;
	font-weight: normal;
}
.details_info_a{
	color: #ff5000;
	font-size: 14px;
}
.details_info_a span{
	font-size: 20px;
}
.details_info_b{
	color: #8B8B8B;
	font-size: 12px;
	padding: 0 0 1% 0;
}
.details_info_b span{
	text-decoration: line-through;
}

.details_size{
	width: 94%;
	padding: 0 3%;
}
.details_size ul{
	width: 100%;
}
.details_size ul li{
	padding: 3% 0;
	font-size: 14px;
	border-bottom: 1px solid #ccc;
}
.details_size ul li img{
	float: right;
	width: 7px;
	height: 12px;
	margin-top: 3px;
}